@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.card:hover{
  box-shadow: -2px 1px 16px -1px rgba(0,0,0,0.46);
-webkit-box-shadow: -2px 1px 16px -1px rgba(0,0,0,0.46);
-moz-box-shadow: -2px 1px 16px -1px rgba(0,0,0,0.46);
transition-duration: 0.5s;
border-color: #E2C2C6;

}



.button:hover{
  color: white;
  background-color:#2F0147 ;
  transition: all  ease-in-out 1s;
 
}
.nav{
  background-color: #2F0147;
  
}
.footer{
  background-color: #2F0147;
  color: white;
  
}

.navbar{
  position: sticky;
  top: 0px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #E2C2C6;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media  ( max-width: 500px){



 .card{
  width: 310px;

 }
 .heading{
  font-size: 16px;
 }
 .button{
  width: 140px;
 }
  .navbar{
    display: none;
  }
}